/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color */
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    align-items: center; /* Vertically center the items */
}

nav ul {
    list-style: none;
    margin-left: 20px; /* Add margin to the left to separate the items from the edge */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Profile image in the home section */
.profile-container {
    text-align: right;
    margin-right: 20px;
}

.profile-image {
    width: 225px; /* Adjust the size as needed */
    height: 225px; /* Adjust the size as needed */
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    top: 15px; /* Adjust the top position as needed */
    right: 20px; /* Adjust the right position as needed */
}

/* Home section styles */
#home {
    text-align: center;
    padding: 80px 0; /* Adjust padding as needed */
    position: relative; /* Needed for the absolute positioning of the profile image */
    height: 125px;
}

.home-section .content-container {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    margin-bottom: 20px;
}


#home h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

#home p {
    font-size: 18px;
    opacity: 0.8;
}


/* Style for the social icons */
.intro h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.intro p {
    font-size: 18px;
    opacity: 0.8;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin: 0; /* Add this line to reset margin */
    padding: 0; /* Add this line to reset padding */
}

.social-icon {
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    margin: 0 10px; /* Add some spacing between the icons */
    opacity: 0.8;
}

.profile-container {
    position: absolute;
    top: 0;
    right: 0;
}

/* Add a hover effect to the social icons */
.social-icon:hover {
    opacity: 1;
}

/* Certification logos */
.certs-list {
    margin-right: 20px;
}

.certs-list ul {
    list-style-type: none;
    padding: 0;
}

.certs-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cert-logo {
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    margin-right: 10px; /* Add some spacing between the logo and text */
}

/* About section styles */
#about {
    background-color: #fff;
    padding: 30px 0;
    text-align: center;
}
#about h2 {
    font-size: 32px;
    margin-bottom: 20px;
}
#about p {
    font-size: 18px;
    opacity: 0.8;
}


/* Projects section styles */
#projects {
    background-color: #f4f4f4;
    padding: 20px 0; /* Adjust the top and bottom padding as needed */
    text-align: center;
}

.project-container {
    display: flex;
    flex-wrap: wrap; /* Allow projects to wrap onto a new line */
    justify-content: space-between;
}

.project {
    flex: 0 0 calc(25% - 20px); /* Adjust the width for four columns */
    padding: 20px;
    margin: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}


.project img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px; /* Add margin at the bottom to separate image from text */
    border: 2px solid #ddd;
    border-radius: 4px;
    max-height: 50%; /* Add this line to set the maximum height of the images */
}

.project h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project p {
    font-size: 16px;
    opacity: 0.8;
}




/* Skills section styles */
#skills {
    padding: 20px 0; /* Reduce the top and bottom padding to move the section up */
    text-align: center;
    margin-top: -40px; /* Adjust the negative margin to move the section up further */
}

.skill {
    margin: 20px 0;
}
.skill h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
.skill p {
    font-size: 16px;
    opacity: 0.8;
}

/* Interests section styles */
#interests {
    background-color: #f4f4f4;
    padding: 80px 0;
    text-align: center;
}
#interests h2 {
    font-size: 32px;
    margin-bottom: 20px;
}
#interests ul {
    list-style: none;
}
#interests ul li {
    font-size: 18px;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* CSS for the toolbox */
.toolbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.toolbox .tool {
    background-color: #f4f4f4;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 4px;
    font-size: 14px;
    opacity: 0.8;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1; /* Adjust the line height to make the boxes closer */
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}